/* theme color */
$--color-primary: #409EFF;
$--color-success: #67C23A;
$--color-warning: #E6A23C;
$--color-danger: #F56C6C;
$--color-info: #909399;

$--button-font-weight: 400;

// 主要文字
$--color-text-primary: #303133 !default;
// 常规文字
$--color-text-regular: #606266 !default;
// 次要文字
$--color-text-secondary: #909399 !default;
// 占位文字
$--color-text-placeholder: #C0C4CC !default;
// 一级边框
$--border-color-base: #DCDFE6 !default;
// 二级边框
$--border-color-light: #E4E7ED !default;
// 三级边框
$--border-color-lighter: #EBEEF5 !default;
// 四级边框
$--border-color-extra-light: #F2F6FC !default;


$--table-border: 1px solid #dfe6ec;

/* icon font path, required */
$--font-path: "~element-ui/lib/theme-chalk/fonts";

// 导出公共变量
:export {
  theme: $--color-primary;
}